@import "react-alice-carousel/lib/scss/alice-carousel.scss";
.containBanner{
    width: auto;
    height: 400px;
    background-color: rgb(0, 136, 255);
}

.mySlides {
    padding-top: 100px;
    border: 1px solid rgb(255, 250, 250);
}


.di1{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro1.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.di2{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro2.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.di3{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro3.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.di4{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro4.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.di5{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro5.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.di6{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro6.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.di7{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
    height: 300px;
    background-image: url("./Img/tro7.jpg");
    background-repeat: no-repeat;
    background-size: 450px 300px;
    position: relative;
    bottom: 100px;
}

.carsousel{
    width: auto;
    margin-top: 400px;
    position: relative;
    bottom: 300px;
    max-height: 300px; 
}



