.Contain_Post{
    border: 2px solid black;
    width: auto;
    height: 800px;
    position: relative;
    bottom: 300px;
}

.tittle_New{
    border: 2px solid rgb(235, 16, 16);
    width: auto;
    height: 40px;
}

.contain_newsPost{
    border: 2px solid rgb(4, 206, 14);
    width: auto;
    height: 755px;
}

.Rate{
    border: 2px solid rgb(4, 206, 14);
    width: auto;
    height: 20px;
    float: left;
    display: inline-block;
}