.site-card-wrapper {
  padding: 30px;
  background: #ececec;
  padding-left: 150px;
}

.site-page-header{
  border: 2px double #100d0e; 
}
.site-page-header1{
  border: 2px double #100d0e;
}

.site-room{
  border: 2px double #49e99c;
  border-radius: 10px;
  font-weight: bold;
  color: #660000;
}

.btn2{
  margin-left: 20px ;
  
}
.btn3{
  margin-left: 20px ;
}
.btn4{
  margin-left: 50px ;
}
.btn6{
  margin-left: 30px ;
}
.btnsearch{
  background-color: #203bea;
  color: #ececec;
}
.room-search{
  margin-left: 40px ;
  margin-right: 40px ;
  padding: 10px;
}


.gutter-row{
  font-size: 20px;
  font-weight: bold;
  color: brown;
}
.site-btnroom2{
  text-align: center;
  margin-top:30px;
}
.space-city{
  color:#ad0c0c;
  font-weight: bold;
}

.space-align-block{
  padding: 20px;
  padding-left: 50px;
}

.text {
  color: rgb(251, 250, 250);
  position: relative;
  top: 30px;
  font-weight: bold;
  font-size: 18px;
  }
  .imgcity{
    height: 400px;
  }

 /**/
  .content{
    padding-left: 35px;
    padding-top: 30px;
    display: flex;
  }

  .item1{
    position: relative;
  }

  .item1 img{
    width: 250px;
    height: 410px;
  }
  .item1 h2{
    position: absolute;
    top:8px;
    left: 15px;
    color:aliceblue;
    font-weight: bold;
    font-size: 20px;
  }


  .item2{
    position: relative;
    padding-left: 10px;
  }
 
  .item2 img{
    width: 300px;
    height: 200px;
  }

  .item2 h2{
    position: absolute;
    top:10px;
    left: 20px;
    color:aliceblue;
    font-weight: bold;
  }

  .item3{
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
  }

  .item3 img{
    width: 300px;
    height: 200px;
  }
  .item3 h2{
    position: absolute;
    color:aliceblue;
    font-weight: bold;
    top:10px;
    left: 20px;
  }
  .item4{
    position: relative;
    padding-left: 10px;
  }
  .item4 img{
    width: 250px;
    height: 410px;
  }
  .item4 h2{
    position: absolute;
    color:aliceblue;
    font-weight: bold;
    top:10px;
    left: 20px;
  }
  .item5{
    position: relative;
    padding-left: 10px;
  }
  .item5 img{
    width: 300px;
    height: 200px;
  }
  .item5 h2{
    position: absolute;
    color:aliceblue;
    font-weight: bold;
    top:8px;
    left: 20px;
  }
  .item6{
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
  }
  .item6 img{
    width: 300px;
    height: 200px;
  }
  .item6 h2{
    position: absolute;
    color:aliceblue;
    font-weight: bold;
    top:10px;
    left: 20px;
  }
  .item7{
    position: relative;
    padding-left: 10px;
  }
  .item7 img{
    width: 250px;
    height: 410px;
  }
  .item7 h2{
    position: absolute;
    color:aliceblue;
    font-weight: bold;
    top:6px;
    left: 20px;
  }
