.site-card-wrapper {
    padding: 30px;
    background: #ececec;
    padding-left: 150px;
  }
  .btn2{
    margin-left: 20px ;
    
  }
  .btn3{
    margin-left: 20px ;
  }
  .btn4{
    margin-left: 50px ;
  }
  .btn6{
    margin-left: 30px ;
  }